*.rpt
*.bak
*.summary
output_files/*
*.qar
*.qarlog
db/*
incremental_db/*
greybox_tmp/*
manypr/*
*.tcl~
*.BAK.qsys
simulation/*
eth4to1/simulation/*
eth4to1/synthesis/*
dse*
eth-4to1-sim/*
.qsys_edit/*
